.profile-container {
  display: flex;
  flex-direction: column;
    height: 100%;
    width: 100%;
  margin-top: 20px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.profile-pic {
  margin: 2% 0 0 10%;
}

.profile-pic img {
  border-radius: 50%;
}

.profile-content-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-content-item label {
  font-weight: 600;
  margin-bottom: 5px;
}

.profile-content-item input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  width: 40%;
}

.profile-content-item input:focus {
  outline: none;
  border: 1px solid #007bff;
}

.profile-content-item input::placeholder {
  color: #adb5bd;
}

.profile-btns {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}