.learn {
  display: flex;
  flex-direction: column;
}

.learn-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.learn-item {
  scale: 0.9;
  width: 70%;
}

.learn-intro-text {
  font-family: "Open Sans", sans-serif;
  color: #320440;
  text-align: center;
}

.learn-image {
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 20%;
  height: 60%;
  transform: rotate(30deg);
}

.video-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
