.action-station-l1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-station-ym-picker {
    border: 1px solid var(--text-color);
    color: blue !important;
    border-radius: 5px;
    scale: 0.8;
    width: 52%;
}

.action-station-add-btn {
    scale: 1.1;
    font-size: 12px;
    width: 45%;
}

.action-station-goal-btn {
    margin: 10px auto;
    scale: 1;
    font-size: 12px;
    width: 45%;
}

.action-station-live-clock {
    margin: 10px auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--text-color);;
    scale: 1;
    font-size: 20px;
}

.action-station-flat-icons {
    margin: 10px auto;
    scale: 1;
    font-size: 12px;
    width: 80%;
}
