.dsb {
    --background-color: #ffffff;
    --text-color: #320440;
    --primary-color: #7d0a0a;
    --secondary-color: rgba(123, 103, 128, 0.89);
    --shadow-color: rgba(50, 4, 64, 0.19);
    --chart-color: #000000;
}

.dsb.darkmode {
    --background-color: #0f1425;
    --text-color: #31d8ed;
    --primary-color: #375a7f;
    --secondary-color: rgba(116, 165, 218, 0.89);
    --shadow-color: rgba(49, 216, 237, 0.19);
    --chart-color: #24cbe1;
}


.dsb {
    background-color: var(--background-color);
    color: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}