.home-header {
    position: relative;
    margin: 10vh auto;
    width: 70%;
    height: 70vh;
    /* tl tr br bl */
    border-radius: 30px 50px 0 150px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, box-shadow 0.3s, transform 1s;
}

.home-header:hover {
    box-shadow: 0 0 20px rgb(50, 4, 64, 0.2); /* Change shadow on hover */
    transform: scale(1.02); /* Slightly scale up the element on hover */
}


.home-header-nav {
    position: absolute;
    top: 4%;
    right: 8%;

}

.home-header-content {
  display: flex;
  flex-direction: row;

}

.home-header-content-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header-content-right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo {
  transform: rotate(-8deg);
  height: 100px;
  margin-top: 15%;
}

.home-slogan {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #320440;
  width: 350px;
  text-align: center;
  margin-top: 6%;
  margin-left: 15%;
}

.home-header-side-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #320440;
    margin-top: 5%;
    margin-left: 15%;
}

.small-text {
  font-size: 15px;
  font-weight: 400;
}

.home-base {
    margin-top: 5vh;
  height: 60vh;
    width: 40vw;
  border-radius: 50px;
}