.settings {
    margin-top: 20px;
}

.settings-sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.settings-topics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-left {
    width: 12%;
    height: 100%;
}

.settings-right {
    width: 88%;
}